# Default reviewers for all files
* @ferminSilva

# Apex
force-app/main/default/classes/* @ferminSilva

# Flows
force-app/main/default/flows/* @ferminSilva

# Profiles
force-app/main/default/profiles/* @ferminSilva
